force-app/main/default/flows/Use_Password_to_Expire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Expiration_Reminder_Email</name>
        <label>Expiration Reminder Email</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>User.Password_Expiration_Reminders</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.Password_Expiration_Reminders</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_Password_Changes_53_Days_Ago</name>
        <label>Does Password Changes 53 Days Ago</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNDaysfromPasswordChanged</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>22.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Expiration_Reminder_Email</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forNDaysfromPasswordChanged</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.LastPasswordChangeDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Use Password to Expire {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Use Password to Expire</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Password_Changes_53_Days_Ago</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-12-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
